<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="TestingDatabase1ConnectionString1" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\TestingDatabase1.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation strict="false" explicit="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
      <customErrors mode="On">
        <error statusCode="404" redirect="page_not_found.html"/>
        <error statusCode="500" redirect="server_error.html"/>
      </customErrors>
    </system.web>

</configuration>
